name: Build, Test, and Run App

on: push

jobs:
  build:
    runs-on: ubuntu-22.04

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: semgroup4
          MYSQL_DATABASE: world
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      # run JUnit tests connected to the MySQL service
      - name: Run Unit Tests
        env:
          DB_HOST: 127.0.0.1
        run: mvn test -Dsurefire.failIfNoSpecifiedTests=false

      # package and run Docker Compose for integration testing
      - name: Package and Run Docker Compose
        run: |
          mvn package -DskipTests
          docker compose up --build --abort-on-container-exit